body {
    font-family:"Arial" , "sans-serif";
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    border-right: 2px solid white;
  }

div.wrapper {
    width: 960px;
    margin: auto;
}

article {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-top: 30px;
}

table {
    width: 49%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 15px;
    border: 1px solid black;

}
td.groen {
    background-color: #84ff80;
}

td.blauw {
    background-color: #8efaff;
}