* {
    box-sizing: border-box;
}
body {
    padding:0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
}

div#wrapper {
    background-color: rgb(250,241,234);
}

header {
    background-color: rgb(181,230,219);
    text-align: center;
}

image#logo {
    width: 330px;
    height: 150px;
}

img {
    width: 100%;
}

/*-- Navigatie --*/

ul{
    padding:0px;
    margin: 0px;
}

li {
    background-color: rgb(128,128,128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;

}
@media all and (min-width: 550px) {
    ul {
        background-color:rgb(128,128,128) ;
        border-top: 1px solid white;
    }
    li {
        display: inline-block;
        border: none;
    }

}
/* -- einde navigatie --*/
h3 {
    color: rgb(220,106,94);
    font-weight: 600;
}

/* -- sections and footers --*/

section , footer {
    padding: 20px;
}

@media all and (min-width:550px) {
    section#nieuws {
        width: 40%;
        float: left;
    }
    section#instrumenten {
        width: 60%;
        float: right;
    }
    img#logo {
        height: 150px;
    }
}

@media all and (min-width:920px) {
    section#nieuws {
        width: 30%;
        float: left;
    }
    section#instrumenten {
        width: 70%;
        float: right;
    }
    article {
        display: inline-block;
        width: 48%;
        margin-right: 20px;
    }
    article:nth-child(even) {
        margin-right: 0px;
    }
    img#logo {
        height: 150px;
    }

}

@media all and (min-width:1200px) {
    div#wrapper {
        width: 1200px;
        margin: auto;
    }

}

footer {
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}

footer h3 {
    color: white;
}
